body {
  color: #000;
  font-family: "Roboto", sans-serif;
}

header {
  width: 100%;
  display:flex ;
}

.logo{
  padding: 5px 10px 0 10px;
  text-align: left;
  font-family: "Open Sans";
  font-weight: 500;
  color: #000000;
  font-family: 'Island Moments', cursive;
  font-size: 64px;
}

.about-site{
  padding: 30px 40px 0 40px;
  text-align: left;
  font-family: "Open Sans";
  font-weight: 500;
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

.logo,
.about-site {
  display: inline-block;
}

#container-div {
  text-align: center;
  width: 100%;
  padding: 40px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica;
  font-weight: 500;
  /*background: linear-gradient(to right, #1d024b, rgb(6, 77, 117));*/
  color: #000000;

  background-color: #7092AA;
}

.card-body,
.card-footer,
.row{
  border: none;
}

.card{
  border: none;
  border-radius: 30px;
}

.card-body{
  border: none;
  background-color: #436C89;
  border-radius: 30px;
}

.btn-success {
  color: #fff;
  background-color: #00417C;
}

.btn-block{
  color: #fff;
  background-color: #00417C;
}

.card-footer{
  background-color: #436C89;
  border: none;
}

.col-form-label{
  color: white;
  padding: 5px 10px 0 10px;
}

.card-title{
  color: #FFF;
}

.form-control{
  margin: 10px;
  padding: 10px;
}

.choose-image{
  font-family: "Open Sans", "Helvetica Neue", Helvetica;
  width: 50%;
  height: 100%;
  border: 1px solid #000;
  float: right;
}

#container-preview{
  text-align: center;
  width: 100%;
  padding: 40px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica;
  font-weight: 500;
  color: #000000;
  height: 100%;
  background-color: #2C5A7B;
}

.certif-prev{
  text-align: center;
  width: 100%;
  padding: 40px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica;
  font-weight: 500;
  color: #000000;
  height: 100%;
  width: 85%;
  height: 45%;
  left: 30%;
  top: 0.05%;
  background: #D9D9D9; /* задаємо ширину блоку */
  margin: 0 auto; /* відступи зверху та знизу - 0, зліва та справа - авто */
}

.button-container {
  display: flex;
  justify-content: center;
}

.button-1 {
  border: none; /* відключаємо рамку кнопки */
  color: #000; /* колір тексту кнопки */
  padding: 16px 32px; /* відступи для кнопки */
  text-align: center; /* вирівнювання тексту по центру */
  text-decoration: none; /* відключаємо підкреслення тексту */
  display: inline-block; /* змінюємо тип відображення кнопки */
  font-size: 16px; /* розмір шрифту тексту кнопки */
  margin: 4px 2px; /* відступи між кнопками */
  cursor: pointer; /* змінюємо форму курсора на пальчик */
  border-radius: 8px; /* радіус закруглення кутів кнопки */
  box-sizing: border-box;
  background: #FFFFFF;
  border-radius: 10px;
}

.button-2 {
  background-color: #2196F3; /* колір фону кнопки */
  border: none; /* відключаємо рамку кнопки */
  color: #000;/* колір тексту кнопки */
  padding: 16px 32px; /* відступи для кнопки */
  text-align: center; /* вирівнювання тексту по центру */
  text-decoration: none; /* відключаємо підкреслення тексту */
  display: inline-block; /* змінюємо тип відображення кнопки */
  font-size: 16px; /* розмір шрифту тексту кнопки */
  margin: 4px 2px; /* відступи між кнопками */
  cursor: pointer; /* змінюємо форму курсора на пальчик */
  background: #FFFFFF;
  border-radius: 10px;
}

.bg-dark {
  background-color: #201D1D !important;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.container img {
  max-width: 100%;
  padding: 5px 10px 0 10px;
}

.container a{
  flex-direction: column;
}

.email {
  display: block; /* робить кожне посилання блоковим елементом */
  margin: 10px 0; /* задає відступи від іконок */
  color: #fff; /* задає колір тексту */
  font-size: 16px; /* задає розмір шрифту */
  text-decoration: none; /* забирає підкреслення посилань */
}

.email:hover {
  color: #ffffff;
}

.phone {
  display: block; /* робить кожне посилання блоковим елементом */
  margin: 10px 0; /* задає відступи від іконок */
  color: #fff; /* задає колір тексту */
  font-size: 16px; /* задає розмір шрифту */
  text-decoration: none; /* забирає підкреслення посилань */
  flex-direction: row;
}

.phone:hover {
  color: #ffffff;
}

.content {
  margin: auto;
  padding: 30px;
  width: 100%;
  max-width: 600px;
  box-sizing: border-box;
}

.slick-slide .image {
  padding: 10px;
}

.slick-slide img {
  border: 5px solid #fff;
  display: block;
  width: 100%;
}

.slick-slide img.slick-loading {
  border: 0;
}